<h1>Movie posts</h1>

<p *ngIf="!(moviePosts$ | async)"><em>Loading Movie posts...</em></p>

<thead>
  <tr>
    <th>
      Search: <input type="text" placeholder="Search all" [(ngModel)]="term" />
    </th>
  </tr>
</thead>

<table class="table table-sm table-hover" *ngIf="(moviePosts$ | async)?.length>0">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Category</th>
      <th>Date</th>
      <th>Rating</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let moviePost of (moviePosts$ | async) |filter:term" >
      <td>{{ moviePost.id }}</td>
      <td>{{ moviePost.title }}</td>
      <td>{{ moviePost.category.name }}</td>
      <td>{{ moviePost.year }}</td>
      <th>{{ moviePost.rating }}</th>
      <td><a [routerLink]="['/movie/', moviePost.id]" class="btn btn-primary btn-sm float-right">Edit</a></td>
      <!--<td><a [routerLink]="" (click)="delete(moviePost.postId)" class="btn btn-danger btn-sm float-right">Delete</a></td>-->
    </tr>
  </tbody>
</table>
